:root {
      --background: #ffffff;
      --foreground: #171717;
      --primary-color: #3b82f6;
      --secondary-color: #000;
}


.menu {
      text-align: center;
      box-shadow: 1px 1px 4px white;
      padding: 10px 20px ;
      li {
            color: var(--secondary-background);
            display: grid;
            place-content: center;
            padding: 7px;
            transition: background-color 0.3s ease;
            font-size: 18px;
            font-weight: 500;
            border-radius: 5px;

            &:hover {
                  background-color: var(--background);
                  color: var(--foreground);
                  border-radius: 5px;

            }
      }

}

.truncate-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }


/* Basic editor styles */
.tiptap {
      :first-child {
            margin-top: 0;
      }

      /* Heading styles */
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
            line-height: 1.4;
            text-wrap: pretty;
      }



      h1 {
            font-size: 1.7rem;
      }

      h2 {
            font-size: 1.5rem;
      }

      h3 {
            font-size: 1.3rem;
      }

      h4 {

            font-size: 1rem;
      }

      h5 {
            font-size: 0.9rem;
      }

      h6 {
            font-size: 0.7rem;
      
      }
}


